#playerHand, #dealerHand{
	display: flex;
	flex-direction: row;
	justify-content: center;
	clear: both;
	border: 1px solid #444;
	margin-bottom: 10px;
	padding-top: 10px;
	.playerCard, .dealerCard{
		// taking care of other specific styles regarding cards
		position: relative;
		z-index: 0;
		float: left;
		margin-bottom: 10px;

		// make sure hearts and diamonds are red
		&.hearts, &.diamonds{
			color: red;
		}

		// make sure clubs and spades are black
		&.clubs, &.spades, &.back{
			color: black;
		}
		// taking care of the looks
		span{
			font-size: 150px;
			user-select: none;
		}
		span:after{
			content: "";
			position: absolute;
			display: inline-block;
			z-index: -1;
			background: white;
			border-radius: 15px;
			margin-left: -150px;
			width: 134px;
			height: 100%;
			margin-left: -143px;
		}
	}
}

#game {
	p{
		text-align: center;
		font-size: 12px;
	}
	#dealerScore, #playerScore{
		font-size: 21px;
		margin: 0 auto;
	}
}
