@import './classes/Card.scss';
@import './appearances/forms.scss';
*{
	margin: 0;
	padding: 0;
	outline: none;
}

body, html{
	background-color: #333;
	color: white;
}

.hidden{
	display: none;
}

main{
	max-width: 900px;
	margin: 0 auto;
}

pre{
	font-size: 25px;
}
