#start{
	max-width:400px;
	margin: 0 auto;
	p, pre{
		text-align: center;
		margin-bottom: 15px;
	}
}

form{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 300px;
	clear: both;
	margin: 0 auto;
	input{
		width: calc(75% - 5px);
		margin-right: 5px;
		text-align: center;
		font-size: 24px;
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type=number] {
		-moz-appearance:textfield; /* Firefox */
	}
	button{
		font-size: 24px;
		width: calc(25%);
	}
}

#buttons{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 450px;
	clear: both;
	margin: 0 auto;
	// border: 1px solid white;

	button{
		width: calc(16.67% - 5px);
	}
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

button, input{
	background-color: black;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	padding: 5px;
	transition: ease .2s;
}

button, input{
	&:focus, &:hover{
		background-color: #222;
	}
}

button{
	&:hover{
		transform: scale(1.05);
	}
	&:disabled{
		opacity: 0.2;
		&:hover{
			transform: scale(1);
		}
	}
}
